body {
  margin: 0;
  font-family: cursive;
  background: #2a2b2a;
  color: #fff;
}

h1 {
  margin: 20px;
}

#main {
  margin: 40px;
  display: flex;
  gap: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 25px;
}

.baseBtn {
  height: 25px;
  width: 75px;
  background: #4f4f57;
  border-radius: 15px;
  border-color: #fff;
  color: #fff;
}

.baseBtn:hover {
  cursor: pointer;
}

#scoreList {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid #000 2px;
}

#scoreList li {
  background: #36373c;
  padding: 3px;
}

#scoreList li:nth-child(odd) {
  background: #565861;
}

#addScore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textBox {
  width: 200px;
  box-sizing: border-box;
  padding: 5px;
  border: solid #000 2px;
  margin-bottom: 25px;
}
